    html{
    background-color: #DBDEDF;
    }
    
    header {
      position: sticky;
      top: 0;
      background-color: #32373B;
      color: #fff;
    }

    /* Estilos para el sidebar */
    aside {
      float: left;
      width: 10%;
    }

    /* Estilos para el contenido */
    main {
     margin-left: 60px;
     min-height:100%;
     height:900px;
     padding:0px;
     background-color: #DBDEDF;
    /* background-color: #DBDEDF;*/
    }

    /* Estilos para el footer */
    footer {
      clear: both;
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #32373B;
      color: #fff;
      padding: 10px;
    }
