<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>Application Name </display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   <context-param>
      <param-name>propertiesFileSQL</param-name>
      <param-value>./sql.properties</param-value>
   </context-param>
   <context-param>
      <param-name>propertiesFileCONFIG</param-name>
      <param-value>./config.properties</param-value>
   </context-param>
   <context-param>
	    <param-name>contextPath</param-name>
	    <param-value>http://localhost:8080/p3/</param-value>
	</context-param>
</web-app>